.Cabinet {
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.Cabinet h1 {
    margin-bottom: 20px;
}

.Cabinet input {
    width: 25%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Cabinet p {
    margin-bottom: 10px;
}

.Cabinet button {
    width: 25%;
    height: 50px;
    cursor: pointer;
    background-color: #ff9100;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.Cabinet button:hover {
    background-color: #ff0000;
}

@media (max-width: 610px) {
    .Cabinet input {
        width: 180px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .Cabinet button {
        width: 180px;
        height: 40px;
        cursor: pointer;
        background-color: #ff9100;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
    }
}
@media (max-width: 420px) {
    .Cabinet input {
        width: 180px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .Cabinet button {
        width: 180px;
        height: 40px;
        cursor: pointer;
        background-color: #91ff00;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
    }
}